@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

// Global styles
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

// Grids (choose one)
@include foundation-xy-grid-classes;
// @include foundation-grid;
// @include foundation-flex-grid;

// Generic components
@include foundation-button;
@include foundation-button-group;
@include foundation-close-button;
@include foundation-label;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-range-input;
@include foundation-switch;
@include foundation-table;
// Basic components
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-callout;
@include foundation-card;
@include foundation-dropdown;
@include foundation-pagination;
@include foundation-tooltip;

// Containers
@include foundation-accordion;
@include foundation-media-object;
@include foundation-orbit;
@include foundation-responsive-embed;
@include foundation-tabs;
@include foundation-thumbnail;
// Menu-based containers
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-accordion-menu;
@include foundation-drilldown-menu;
@include foundation-dropdown-menu;

// Layout components
@include foundation-off-canvas;
@include foundation-reveal;
@include foundation-sticky;
@include foundation-title-bar;
@include foundation-top-bar;

// Helpers
@include foundation-float-classes;
@include foundation-flex-classes;
@include foundation-visibility-classes;
// @include foundation-prototype-classes;

// Motion UI
@include motion-ui-transitions;
@include motion-ui-animations;

$ancho-hor: 200px;
$ancho-sq: 130px;
$radius: 5px;
$subBarColor : $topbar-background;

/* ELEMENTOS HTML */

body {
    background: white;
}

a {
    img {
        border-radius: $radius;
        overflow: hidden;
        transition: all .1s ease-in-out;
    }
}

a:hover,
a:focus {
    img {
        box-shadow: 0px 1px 3px 2px rgba($black, .5);
    }
}

/* COMPONENTES FRAMEWORK */

.accordion-title:hover,
.accordion-title:focus {
    color: $white;
}


/* PRELOADER */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $topbar-background;
    /* Color de fondo que desees */
    z-index: 9999;
    /* Asegura que esté por encima de todo lo demás */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
}

#preloader.hidden {
    opacity: 0;
    visibility: hidden;
}

.spinner {
    /* Estilos para tu spinner, si lo deseas */
    width: 50px;
    height: 50px;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}


/* COMPONENTES NAVEGACIÓN */


.top-bar {
    padding: 0;

    h1 {
        margin: 0;

        a {
            padding: .5rem .75em;

            .site-title {
                font-size: 1rem;
            }
        }
    }

    #menu-titulo {
        min-width: 200px;
    }

    #menu-titulo:hover,
    #menu-titulo:focus {
        background: $light-gray;
        color: $black;
    }

    a {
        color: $white;
        font-size: .85rem;
    }
}

.off-canvas {

    .accordion-content {}

    h2 {
        font-size: 1.2rem;
        margin-top: 1.5rem;
        text-transform: uppercase;

        span {
            display: block;
            font-size: .8rem;
        }
    }

    p.descripcion {
        line-height: 1.4;
        font-size: .7rem;
        margin-bottom: 1.5rem;
    }
}


/* COMPONENTES PORTADA */

a.objeto {
    position: absolute;
    height: auto;
    color: $black;
    transition: all .1s ease-in-out;

    img,
    video {
        pointer-events: none;
        transition: all .1s ease-in-out;
    }

    .objeto-reveal {
        position: relative;
        line-height: 1.2rem;
        text-align: center;
        opacity: 0;
        color: $black;
        z-index: 1000;
        transition: all .1s ease-in-out;

        h2 {
            line-height: 1rem;

            span {
                font-size: 0.8rem;
                font-weight: 600;
                margin: 0; //0.5rem 0 0;
                text-transform: uppercase;
                background: darken($topbar-background, 18%);
                color: $white;
                display: inline-block;
                padding: 2px 10px;
                border-radius: $radius*3;
            }
        }

        p {
            margin: 0;
            font-size: 0.7rem;
        }
    }

    a.objeto:hover,
    a.objeto:focus {
        color: $black !important;

        img,
        video {
            pointer-events: none;
            box-shadow:none !important;
        }
    }
}

a.objeto:hover,
a.objeto:focus {
    z-index: 1000;

    .objeto-reveal {
        opacity: 1;
    }
}

a.objeto.is-active {
    z-index: 1 !important;
}

a.objeto-hor {
    width: $ancho-hor;

    img,
    video.video-drag {
        max-width: $ancho-hor;
        width: $ancho-hor;
        box-shadow: none;
    }
}

a.objeto-sq {
    width: $ancho-sq;

    img,
    video.video-drag {
        max-width: $ancho-sq;
        width: $ancho-sq;
    }
}




/* MENU TIPO */

#nav:hover {
    li a {
        background-color: darken($topbar-background, 15%);
    }
}

#nav * {
    z-index: 1;
}

#nav ul {
    margin-bottom: 0;
}

#nav>a {
    display: none;
}

#nav li {
    position: relative;
    list-style-type: none;
}

#nav li a {
    color: $white;
    display: block;
}

#nav li a:hover,
#nav li a:active {
    background-color: darken($topbar-background, 15%);
}

#nav span:after {
    width: 0;
    height: 0;
    border: 0.313em solid transparent;
    /* 5 */
    border-bottom: none;
    border-top-color: lighten($topbar-background, 15%);
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: -0.5em;
    /* 5 */
}

#nav>ul>li {
    width: 25%;
    height: 100%;
    float: left;
}

#nav>ul>li>a {
    height: 100%;
    line-height: 2.5em;
    /* 60 (24) */
    padding-left: 0.5rem;
}

#nav>ul>li:not( :last-child)>a {
    border-right: 1px solid darken($topbar-background, 15%);
}

#nav>ul>li:hover>a,
#nav>ul:not( :hover)>li.active>a {
    background-color: darken($topbar-background, 15%);
}

/* second level */

#nav li ul {
    background-color: darken($topbar-background, 15%);
    display: none;
    position: absolute;
    top: 100%;
    margin-left: 0;
    border-radius: 0 0 $radius $radius;
    box-shadow: 2px 3px 5px rgba($black, .25);
}

#nav ul li ul li a:hover {
    background-color: darken($topbar-background, 25%) !important;
}

#nav li ul li:last-child a {
    border-radius: 0 0 $radius $radius;
}

#nav li:hover ul {
    display: block;
    left: 0;
    right: 0;
}

#nav li:not( :first-child):hover ul {
    left: -1px;
}

#nav li ul a {
    border-top: 1px solid $topbar-background;
    padding: 0.75em;
    /* 15 (20) */
}

#nav li ul li a:hover,
#nav li ul:not( :hover) li.active a {
    background-color: darken($topbar-background, 25%);
}

@media only screen and (max-width: 62.5em)
/* 1000 */
    {
    #nav {
        width: 100%;
        position: static;
        margin: 0;
    }
}

@media only screen and (max-width: 40em)
/* 640 */
    {
    #nav {
        position: relative;
        top: auto;
        left: auto;
    }

    

    #nav>a {
        width: 3.125em;
        /* 50 */
        height: 3.125em;
        /* 50 */
        text-align: left;
        text-indent: -9999px;
        background-color: darken($subBarColor, 15%);
        position: relative;
    }

    #nav>a:before,
    #nav>a:after {
        position: absolute;
        border: 2px solid $white;
        top: 35%;
        left: 25%;
        right: 25%;
        content: '';
    }

    #nav>a:after {
        top: 60%;
    }

    #nav:not( :target)>a:first-of-type,
    #nav:target>a:last-of-type {
        display: block;
    }

    /* first level */

    #nav>ul {
        height: auto;
        display: none;
        position: absolute;
        left: 0;
        right: 0;
    }

    #nav:target>ul {
        display: block;
    }

    #nav>ul>li {
        width: 100%;
        float: none;
    }

    #nav>ul>li>a {
        height: auto;
        text-align: left;
        padding: 0 0.833em;
        /* 20 (24) */
    }

    #nav>ul>li:not( :last-child)>a {
        border-right: none;
        border-bottom: 1px solid darken($topbar-background, 15%);
    }

    /* second level */

    #nav li ul {
        position: static;
        padding: 1.25em;
        /* 20 */
        padding-top: 0;
    }
}


/*  SINGLE PAGE */

.single-content {
    padding: 2rem;

    h2 {
        text-transform: uppercase;

        span {
            margin: 0; //0.5rem 0 0;
            display: block;
            font-size: 1.2rem;
        }
    }

    p,
    table {
        font-size: .8rem;
    }

    table {
        tbody {
            tr {
                td:first-child {
                    font-weight: bolder;
                    width: 150px;
                }

                td {
                    padding-left: 0;
                }
            }
        }
    }
}

.archivo-container {
    padding: 1.9rem;
    img {
        border-radius: $radius;
    }
    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: bolder;
        margin: .75rem 0 .25rem 0;
        color: $black;
    }
    ul{
        margin: 0;
        li{
            list-style-type: none;
            font-size: .7rem;
            color: $black;
        }
    }
}

.sub-bar{
    background: lighten($topbar-background,15%);
    h2{
        font-size: 1rem;
        text-transform: uppercase;
        margin: 0;
        padding: .25rem 0 .25rem 1.9rem;
    }
}

.single-container{
    padding: 4rem 1.9rem;
    p{
        font-size: .9rem;
    }
    h2{
        margin-bottom: 2rem;
    }
}


a.powered-by-button{
    visibility: hidden !important;
}